<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-left"><%= @user.username %></h1>
        <p class="text-left"><%= @user.name %> | <%= @user.email %></p>
      </div>
      <div class="col-md-6">
      <p class="profile-nav text-right">
        <a href="#spots">
          <span class="glyphicon glyphicon-search"></span> Spots (<%= @user.items.length%>)
        </a>
      </p>

      <p class="profile-nav text-right">
        <a href="#likes">
          <svg class="icon is-liked" viewBox="0 0 32 32">
            <use xlink:href="#heart-icon"></use>
          </svg>
          Likes (<%= @user.liked_items.length%>)
        </a>
      </p>

      </div>
    </div>

    <hr>
    <a name="spots"></a><h1>Spots</h1>
    <% if @user.items == [] %>
      <p>Post some finds!</p>
    <% end %>
    <% @user.items.each do |item| %>
      <div class="row">
        <div class="col-md-4">
            <img src="<%=item.image_path%>" class="details-image" alt="<%= item.title%>" title="<%= item.title%>">
        </div>
        <div class="col-md-6">
          <h3><a href="<%= uri('/items') %>"><%= item.title %></a></h3>
          <p><strong>Price</strong>: $<%= item.price %></p>
          <p><strong>Location</strong>: <%= item.location %></p>
        </div>
        <div class="col-md-2">
          <%= erb :_like_button, locals: { item: item } %>
        </div>
      </div>
      <hr>
    <% end %>
    <a name="likes"></a><h1>Likes</h1>
    <% if @user.liked_items == [] %>
      <p>Get out there and start liking!</p>
    <% end %>
      <% @user.liked_items.each do |item| %>
        <div class="row">
          <div class="col-md-4">
              <img src="<%=item.image_path%>" class="details-image" alt="<%= item.title%>" title="<%= item.title%>">
          </div>
          <div class="col-md-6">
            <h3><a href="<%= uri('/items') %>"><%= item.title %></a></h3>
            <p><strong>Price</strong>: $<%= item.price %></p>
            <p><strong>Location</strong>: <%= item.location %></p>
          </div>
          <div class="col-md-2">
            <%= erb :_like_button, locals: { item: item } %>
          </div>
        </div>
        <hr>
      <% end %>

    </div>
  </div>
  <div class="col-md-2"></div>
</div>
