<% if logged_in_user %>
  <span data-user-id="<%= logged_in_user.id %>" id="user-id"></span>
<% else %>
  <span data-user-id="" id="user-id"></span>
<% end %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="text-center"><%= @item.title %></h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <a class="image-popup-fit-width hoverZoomLink" href="<%=@item.image_path%>" title="<%=@item.title%>">
          <img src="<%=@item.image_path%>" class="details-image" alt="<%= @item.title%>" title="<%= @item.title%>">
          <span class="plus glyphicon glyphicon-plus"></span>
        </a>


      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <p class="text-center">
              <%= erb :_like_button, locals: { item: @item } %>
            </p>
            <p class="likes text-center"><div class="likes-count"><%= @item.num_likes %></div> Likes</p>
          </div>

          <div class="col-md-9">
            <p><strong>Posted by</strong>: <a href="/users/<%=@item.user_id%>"><%= @item.user.username %></a></p>
            <p><strong>Price</strong>: $<%= @item.price %></p>
            <p><strong>Location</strong>: <%= @item.location%></p>
          </div>

        </div>
        <p>
          <%= @item.description %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
