
<p class="text-center">
<% if logged_in_user.id %>

  <svg class="icon is-x2 is-outlined is-hoverable is-transit is-activeable like-button<%= " is-liked" if logged_in_user && logged_in_user.has_liked(item) %>" viewBox="0 0 32 32" data-item-id="<%=item.id%>">
    <use xlink:href="#heart-icon"></use>
  </svg>
<span class="likes likes-count-<%= item.id %>"><%= item.num_likes %></span>
<% else %>
<svg class="icon is-x2 is-liked" viewBox="0 0 32 32" data-item-id="<%=item.id%>">
    <use xlink:href="#heart-icon"></use>
  </svg>
<span class="likes likes-count-<%= item.id %>"><%= item.num_likes %></span>
<% end %>
</p>
