<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>
          <li><a class="post-btn" href="<%= uri('/items/new') %>">POST A FIND</a></li>
          <li><a href="<%= uri('/items/index') %>">My Finds</a></li>
          <li><a></a></li>
          <li><a href="<%= uri("/users/#{logged_in_user.id}") %>"><span class="glyphicon glyphicon-user"></span> <%= logged_in_user.username %></a></li>
          <li><a href="<%= uri('/users/logout') %>">Log Out</a></li>

        <% else %>
          <li><a href="<%= uri('/users/login') %>">Log In</a></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
