<div class="row">
  <div class="col-md-12">
    Categories:
    <!-- <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/">All</a></li>
      < % Category.all.each do |category| % >
        < % if category.name == @category.name % >
          <li><a href="/items/sort/< % = category.name % >">< % = category.name % ></a></li>
      < % end % >
    </ul>
  </div> -->
    <select class="selectpicker show-tick" id="category-select" onchange="location = this.value;">
      <option value="/">All</option>
      <% Category.all.each do |category| %>
        <% if @category && category.name == @category.name %>
          <option selected value="/items/sort/<%= category.name %>"><%= category.name %></option>
        <% else %>
          <option value="/items/sort/<%= category.name %>"><%= category.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
</div>
<br>
<div  id="container" class="masonry-container">
<div class="grid-sizer"></div>
<% @items.each do |item| %>
  <% @item = item %>

  <div class="masonryImage" data-category-id="<%= item.category_id %>" data-item-id="<%= item.id %>">
    <div class="show-item">

      <div class="item-details">
      <a class="opaque" href="/items/<%=@item.id%>">
        <div class="row">
        <div class="col-md-12">
         <h3 class="text-center"><%= @item.title%></h3>
         <hr>

         <div class="col-md-2"></div>
         <div class="col-md-8">
          <p class="text-center"><strong><%=@item.location%></strong></p>
         </div>
         <div class="col-md-2"></div>
        </div>

      </a>
      </div>
      <div class="like-details">
        <%= erb :_like_button, locals: { item: @item } %>
      </div>

      </div>
      <a class="opaque" href="/items/<%=@item.id%>"><img src="<%=@item.image_path%>" alt="<%= @item.title%>" title="<%= @item.title%>"></a>
    </div>
  </div>
  <% end %>

</div>
