


<div class="row">
  <div class="col-md-6">
    Categories:
    <select class="selectpicker show-tick" id="category-select" onchange="location = this.value;">
      <option value="/">All</option>
      <% Category.all.each do |category| %>
        <% if @category && category.name == @category.name %>
          <option selected value="/items/sort/<%= category.name %>"><%= category.name %></option>
        <% else %>
          <option value="/items/sort/<%= category.name %>"><%= category.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div class="col-md-6">
    <h3 class="text-right">View: 
    <button style="width:auto" class="btn btn-lg btn-default" id="showmap"><span class="glyphicon glyphicon-map-marker"></span></button>
    <button style="width:auto"  class="btn btn-lg btn-default" id="showgallery"><span class="glyphicon glyphicon-picture"></span></button></h3>

  </div>
</div>
<br>

<div id="galleryview">
<div  id="container" class="masonry-container">
<div class="grid-sizer"></div>
<% @items.each do |item| %>
  <% @item = item %>

  <div class="masonryImage" data-category-id="<%= item.category_id %>" data-item-id="<%= item.id %>">
    <div class="show-item">

      <div class="item-details">
      <a class="opaque" href="/items/<%=@item.id%>">
        <div class="row">
        <div class="col-md-12">
         <h3 class="text-center"><%= @item.title%></h3>
         <hr>

         <div class="col-md-2"></div>
         <div class="col-md-8">
          <p class="text-center"><strong><%=@item.location%></strong></p>
         </div>
         <div class="col-md-2"></div>
        </div>
        </div>       
      </a>

      <div class="like-details">
        <%= erb :_like_button, locals: { item: @item } %>
      </div>

      </div>
      <a class="opaque" href="/items/<%=@item.id%>"><img src="<%=@item.image_path%>" alt="<%= @item.title%>" title="<%= @item.title%>"></a>
    </div>
  </div>
  <% end %>
</div>
</div>

<div id="mapview">
  <div class = "row">
  <div class="col-md-4">
    <%@items = Item.all%>
    <%@items.each_with_index do |item, index|%>
      <div data-id="<%=item.id%>" data-index="<%= index += 1 %>" data-title="<%=item.title%>" data-placeid="<%=item.place_id%>" data-long="<%=item.longitude%>" data-lat="<%=item.latitude%>" class="item">
        <h4><%= index %>. <a href="/items/<%= item.id %>"><%= item.title %></a></h4>
        <p><%=item.location%></p>
      </div>
    <%end%>

  </div>
    <div class="col-md-8">
      <div style="height:500px" id="map"></div>
      <script src="/javascript/map_marker.js"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTbeQc-SCnCKLpYePwXmYPwXcvd_LRGtk&libraries=places&callback=initMap"></script>
    </div>
  </div>
</div>
