
<div class="row">
<div class="col-md-12"><h1>Map Search</h1></div>
<div class="col-md-4">
  <%@items = Item.all%>
  <%@items.each_with_index do |item, index|%>
    <div data-id="<%=item.id%>" data-index="<%= index += 1 %>" data-title="<%=item.title%>" data-placeid="<%=item.place_id%>" data-long="<%=item.longitude%>" data-lat="<%=item.latitude%>" class="item">
      <h4><%= index %>. <a href="/items/<%= item.id %>"><%= item.title %></a></h4>
    </div>
  <%end%>

</div>
<div class="col-md-8">
  <div style="height:800px" id="map">

  </div>

  <script src="/javascript/map_marker.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTbeQc-SCnCKLpYePwXmYPwXcvd_LRGtk&libraries=places&callback=initMap"></script>

</div>

</div>


