
<%@items = Item.all%>
<%@items.each_with_index do |item, index|%>
  <div data-index="<%= index %>" data-placeid="<%=item.place_id%>" data-long="<%=item.longitude%>" data-lat="<%=item.latitude%>" class="item">
    <a href="/items/<%= item.id %>"><h4><%= index %>. <%= item.title %> <%= item.place_id %></h4></a>
  </div>
<%end%>

<div id="map">

</div>

<script src="/javascript/map_marker.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTbeQc-SCnCKLpYePwXmYPwXcvd_LRGtk&libraries=places&callback=initMap"></script>
